<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>DimGem</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css" charset="utf-8">

	<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-1.10.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body overflow="auto">
    <div id="baner" align="center">
        {% block baner %}
            {% load static from staticfiles %}
            <img src="{% static 'dimgem/banerdimgem.jpg' %}"
                 style="border-radius: 40px; box-shadow: 0 0 7px black;"/>
        {% endblock %}
    </div>
    <div class="menu">
		<div class="btn-group">
			<div class="btn-group">
				<a class="btn btn-success" role="button" href="{% url 'dim' %}">DIM</a>
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'dim_grammar' %}">Gramatyka</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'dim_vocabulary' %}">Słownictwo</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'dim_curiosities' %}">Ciekawostki</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'dim_false_friends' %}">False friends</a></li>
				</ul>
			</div><div class="btn-group">
				<a class="btn btn-success" role="button" href="{% url 'gem' %}">GEM</a>
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gem_grammar' %}">Gramatyka</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gem_vocabulary' %}">Słownictwo</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gem_curiosities' %}">Ciekawostki</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gem_false_friends' %}">False friends</a></li>
				</ul>
			</div>
			<a class="btn btn-success" role="button" href="{% url 'search' %}">Szukaj</a>
			<a class="btn btn-success" role="button" href="{% url 'contact' %}">Kontakt</a>
		</div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            <hr style="color: darkgreen">
            <p>Copyright by geodotka 2014. Made in Poland by geodotka. Nie wszystko jest made in China.</p>
        {% endblock %}
    </div>
</body>
</html>
