<!DOCTYPE html>
{% load compress %}
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>DimGem</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	{% compress css %}
		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css" charset="utf-8">
	{% endcompress %}
	{% compress js %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-1.10.2.min.js"></script>
	{% endcompress %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>
<body overflow="auto">
	<div class="wrapper" id="wrapper">
		<header>
			<div class="baner">
				{% block baner %}
					{% load static from staticfiles %}
					<img src="{% static 'dimgem/banerdimgem.jpg' %}">
				{% endblock %}
			</div>
			<div class="menu">
				<div class="btn-group">
					<a class="btn btn-success menu-item" role="button" href="{% url 'home' %}">Strona główna</a>
					<div class="btn-group">
						<a class="btn btn-success menu-item-link" role="button" href="{% url 'dim' %}">DIM</a>
						<button type="button" class="btn btn-success dropdown-toggle menu-item-button" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">

						</ul>
					</div>
					<div class="btn-group">
						<a class="btn btn-success menu-item-link" role="button" href="{% url 'gem' %}">GEM</a>
						<button type="button" class="btn btn-success dropdown-toggle menu-item-button" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gem_grammar' %}">Gramatyka</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gem_vocabulary' %}">Słownictwo</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gem_curiosities' %}">Ciekawostki</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'gem_false_friends' %}">False friends</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<span class="btn btn-success menu-item">Post office</span>
						<button type="button" class="btn btn-success dropdown-toggle menu-item-button" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'waiting_room' %}">Poczekalnia</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'add_post' %}">Dodaj post</a></li>
							{% if request.user.is_superuser %}
								<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'approve_note_to_post' %}">Uwagi</a></li>
							{% endif %}
						</ul>
					</div>
					<div class="btn-group">
						<span class="btn btn-success menu-item">Szukaj</span>
						<button type="button" class="btn btn-success dropdown-toggle menu-item-button" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'search' %}">Po słowie kluczowym</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-2" href="{% url 'show_alphabetical_posts_list' %}">Lista postów</a></li>
						</ul>
					</div>
					<a class="btn btn-success menu-item" role="button" href="{% url 'contact' %}">Kontakt</a>
					{% if not request.user.is_authenticated %}
						<a class="btn btn-success menu-item" role="button" href="{% url 'log_in' %}?next={{request.path}}">Zaloguj</a>
					{% else %}
						<a class="btn btn-success menu-item" role="button" href="{% url 'log_out' %}">Wyloguj</a>
					{% endif %}
				</div>
			</div>
		</header>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
		<div class="footer">
			{% block footer %}
				<hr>
				<p>Copyright by geodotka 2014. Made in Poland by geodotka. Nie wszystko jest made in China.</p>
			{% endblock %}
		</div>
	</div>
</body>
</html>
