{% extends "base.html" %}
{% block content %}
    {% if not posts %}
        <p>Nie ma jeszcze wpisów w tej kategorii</p>
    {% else %}
        {% for post in posts %}
            <hr style="color: darkgreen" />
            <h4 style="color: darkgreen">{{post.posted_date|date:"d.m.Y"}} {{post.author}}: {{post.title}}</h4>
            {{post.text|linebreaks}}
            {% if post.picture %}
                <img src="{{ MEDIA_URL }}{{ post.picture.name }}" style="width: 400px; height: 300px" alt="{{ post.picture.name }}" />
            {% endif %}
            {% load static from staticfiles %}
            {% if page == 'dim' %}
                <a href="{% url 'dim_curiosities' %}?post-id={{ post.id }}&vote=1"><img src="{% static 'dimgem/StarHappy.png' %}" alt="My image" /></a> Podoba mi się
                <a href="{% url 'dim_curiosities' %}?post-id={{ post.id }}&vote=0"><img src="{% static 'dimgem/StarSad.png' %}" alt="My image" /></a> Nie podoba mi się
                &nbsp;&nbsp;&nbsp;&nbsp;Wyniki:&nbsp;&nbsp;
                {{ post.votes_up }} x <img src="{% static 'dimgem/StarHappy.png' %}" alt="My image" />
                {{ post.votes_down }} x <img src="{% static 'dimgem/StarSad.png' %}" alt="My image" />
            {% else %}
                <a href="{% url 'gem_curiosities' %}?post-id={{ post.id }}&vote=1"><img src="{% static 'dimgem/StarHappy.png' %}" alt="My image" /></a> Podoba mi się
                <a href="{% url 'gem_curiosities' %}?post-id={{ post.id }}&vote=0"><img src="{% static 'dimgem/StarSad.png' %}" alt="My image" /></a> Nie podoba mi się
                &nbsp;&nbsp;&nbsp;&nbsp;Wyniki:&nbsp;&nbsp;
                {{ post.votes_up }} x <img src="{% static 'dimgem/StarHappy.png' %}" alt="My image" />
                {{ post.votes_down }} x <img src="{% static 'dimgem/StarSad.png' %}" alt="My image" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if votes %}
                    {% if votes.post_id == post.id and votes.vote == False %}
                        Ha! Nie oszukuj, już głosował(a/e)ś!
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
