{% extends "base.html" %}
{% block content %}
    {% if not posts %}
        <p>Nie ma jeszcze wpisów w tej kategorii</p>
    {% else %}
        {% for post in posts %}
            <hr style="color: darkgreen" />
            <h4 style="color: darkgreen">{{post.posted_date|date:"d.m.Y"}} {{post.author}}: {{post.title}}</h4>
            <p>{{post.text|linebreaks}}</p>
            {% load static from staticfiles %}
            {% if page == 'dim' %}
                <a href="{% url 'dim_grammar' %}?post-id={{ post.id }}&vote=1"><img src="{% static 'dimgem/StarHappy.png' %}" /></a> Podoba mi się
                <a href="{% url 'dim_grammar' %}?post-id={{ post.id }}&vote=0"><img src="{% static 'dimgem/StarSad.png' %}" /></a> Nie podoba mi się
                &nbsp;&nbsp;&nbsp;&nbsp;Wyniki:&nbsp;&nbsp;
                {{ post.votes_up }} x <img src="{% static 'dimgem/StarHappy.png' %}" />
                {{ post.votes_down }} x <img src="{% static 'dimgem/StarSad.png' %}" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if votes %}
                    {% if votes.post_ip == post.id and votes.vote %}
                        Ha! Nie oszukuj, już głosował(a/e)ś!
                    {% endif %}
                {% endif %}
            {% else %}
                <a href="{% url 'gem_grammar' %}?post-id={{ post.id }}&vote=1"><img src="{% static 'dimgem/StarHappy.png' %}" /></a> Podoba mi się
                <a href="{% url 'gem_grammar' %}?post-id={{ post.id }}&vote=0"><img src="{% static 'dimgem/StarSad.png' %}" /></a> Nie podoba mi się
                &nbsp;&nbsp;&nbsp;&nbsp;Wyniki:&nbsp;&nbsp;
                {{ post.votes_up }} x <img src="{% static 'dimgem/StarHappy.png' %}" />
                {{ post.votes_down }} x <img src="{% static 'dimgem/StarSad.png' %}" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if votes %}
                    {% if votes.post_id == post.id and votes.vote == False %}
                        Ha! Nie oszukuj, już głosował(a/e)ś!
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
