{% extends "base2.html" %}

{% block home %} class="selected"{% endblock %}

{% block content %}
	<div class="header">
		{% load static from staticfiles %}
		<img src="{% static 'dimgem/banerdimgem.jpg' %}">
	</div>
	<div class="footer">
		<div class="box">
			<h5><a href="{% url 'dim_grammar' %}">DIM Gramatyka</a></h5>
			<a class="post js-anchor" data-post-id="{{ dim_grammar_post.id }}" href="{{ dim_grammar_post.url }}">
				<span>{{ dim_grammar_post.posted_date|date:"d.m.Y" }}</span>
				{{ dim_grammar_post.title }}
				<p>
					{% autoescape off %}
						{{ dim_grammar_post.text|linebreaks }}
					{% endautoescape %}
				</p>
			</a>
		</div>
		<div class="box">
			<h5><a href="{% url 'dim_vocabulary' %}">DIM Słownictwo</a></h5>
			<a class="post js-anchor" data-post-id="{{ dim_vocabulary_post.id }}" href="{{ dim_vocabulary_post.url }}">
				<span>{{ dim_vocabulary_post.posted_date|date:"d.m.Y" }}</span>
				{{ dim_vocabulary_post.title }}
				<p>
					{% autoescape off %}
						{{ dim_vocabulary_post.text|linebreaks }}
					{% endautoescape %}
				</p>
			</a>
		</div>
		<div class="box">
			<h5><a href="{% url 'dim_curiosities' %}">DIM Ciekawostki</a></h5>
			<a class="post js-anchor" data-post-id="{{ dim_curiosities_post.id }}" href="{{ dim_curiosities_post.url }}">
				<span>{{ dim_curiosities_post.posted_date|date:"d.m.Y" }}</span>
				{{ dim_curiosities_post.title }}
				<p>
					{% autoescape off %}
						{{ dim_curiosities_post.text|linebreaks }}
					{% endautoescape %}
				</p>
			</a>
		</div>
		<div class="box">
			<h5><a href="{% url 'dim_false_friends' %}">DIM False friends</a></h5>
			<a class="post js-anchor" data-post-id="{{ dim_false_friends_post.id }}" href="{{ dim_false_friends_post.url }}">
				<span>{{ dim_false_friends_post.posted_date|date:"d.m.Y" }}</span>
				{{ dim_false_friends_post.title }}
				<p>
					{% autoescape off %}
						{{ dim_false_friends_post.text|linebreaks }}
					{% endautoescape %}
				</p>
			</a>
		</div>

		<div class="box">
			<h5><a href="{% url 'gem_grammar' %}">GEM Gramatyka</a></h5>
			<a class="post js-anchor" data-post-id="{{ gem_grammar_post.id }}" href="{{ gem_grammar_post.url }}">
				<span>{{ gem_grammar_post.posted_date|date:"d.m.Y" }}</span>
				{{ gem_grammar_post.title }}
				<p>
					{% autoescape off %}
						{{ gem_grammar_post.text|linebreaks }}
					{% endautoescape %}
				</p>
			</a>
		</div>
		<div class="box">
			<h5><a href="{% url 'gem_vocabulary' %}">GEM Słownictwo</a></h5>
			<a class="post js-anchor" data-post-id="{{ gem_vocabulary_post.id }}" href="{{ gem_vocabulary_post.url }}">
				<span>{{ gem_vocabulary_post.posted_date|date:"d.m.Y" }}</span>
				{{ gem_vocabulary_post.title }}
				<p>
					{% autoescape off %}
						{{ gem_vocabulary_post.text|linebreaks }}
					{% endautoescape %}
				</p>
			</a>
		</div>
		<div class="box">
			<h5><a href="{% url 'gem_curiosities' %}">GEM Ciekawostki</a></h5>
			<a class="post js-anchor" data-post-id="{{ gem_curiosities_post.id }}" href="{{ gem_curiosities_post.url }}">
				<span>{{ gem_curiosities_post.posted_date|date:"d.m.Y" }}</span>
				{{ gem_curiosities_post.title }}
				<p>
					{% autoescape off %}
						{{ gem_curiosities_post.text|linebreaks }}
					{% endautoescape %}
				</p>
			</a>
		</div>
		<div class="box">
			<h5><a href="{% url 'gem_false_friends' %}">GEM False friends</a></h5>
			<a class="post js-anchor" data-post-id="{{ gem_false_friends_post.id }}" href="{{ gem_false_friends_post.url }}">
				<span>{{ gem_false_friends_post.posted_date|date:"d.m.Y" }}</span>
				{{ gem_false_friends_post.title }}
				<p>
					{% autoescape off %}
						{{ gem_false_friends_post.text|linebreaks }}
					{% endautoescape %}
				</p>
			</a>
		</div>
	</div>
{% endblock %}
