{% extends "base.html" %}
{% block content %}
	<form method="post" class="form-login container" >
		{% csrf_token %}
		<div class="form-group col-md-4">
			<div class="fieldWrapper">
				<label for="{{ form.login.id_for_label }}">{{ form.login.label }}</label>
				{{ form.login }}
				{% if form.login.errors %}
					{% for error in form.login.errors %}
						<span class="text-error">{{ error }}</span>
					{% endfor %}
				{% endif %}
			</div>
			<div class="fieldWrapper">
				<label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
				{{ form.password }}
				{% if form.password.errors %}
					{% for error in form.password.errors %}
						<span class="text-error">{{ error }}</span>
					{% endfor %}
				{% endif %}
			</div>
			{{ error }}
		</div>
		<div>
			<input type="submit" value="Zaloguj" />
		</div>
	</form>
	Nie posiadasz konta? <a href="{% url 'register' %}">Załóż konto</a>
{% endblock %}
