{% extends "base.html" %}

{% load compress %}

{% block content %}
	<h3>{{ template_type|upper }} &rsaquo; {{ category_name }}</h3>
	{% if not posts %}
		<hr>
		<p>Nie ma jeszcze wpisów w tej kategorii</p>
	{% else %}
		{% for post in posts %}
			<div class="container">
				<hr>
				<div class="container-header">
					{{post.posted_date|date:"d.m.Y"}} {{post.author}}: {{post.title}}
				</div>
				<div class="container-text">
					{{post.text|linebreaks}}
				</div>
				{% if post.picture %}
					<div class="container-picture">
						<img src="{{ MEDIA_URL }}{{ post.picture.name }}" alt="{{ post.picture.name }}" />
					</div>
				{% endif %}
				<div class="container-picture-votes">
					{% load static from staticfiles %}
					<div class="container-vote">
						<a href="{% url view_name %}?post-id={{ post.id }}&vote=1"><img src="{% static 'dimgem/StarHappy.png' %}" /></a> Podoba mi się
						<a href="{% url view_name %}?post-id={{ post.id }}&vote=0"><img src="{% static 'dimgem/StarSad.png' %}" /></a> Nie podoba mi się
					</div>
					<div class="container-results">
					{{ post.votes_up }} x <img src="{% static 'dimgem/StarHappy.png' %}" />
					{{ post.votes_down }} x <img src="{% static 'dimgem/StarSad.png' %}" />
					</div>
					<div class="container-message">
						{% if votes %}
							{% if votes.post_id == post.id and votes.vote == False %}
								Ha! Nie oszukuj, już głosował(a/e)ś!
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
			<div>
				<button type="button" data-post-id="{{ post.id }}" class="btn btn-default js-show-form">Zgłoś błąd</button>
			</div>
			<div>
				<form method="post" class="form-horizontal js-report-mistake-to-post-form" data-post-id="{{ post.id }}" role="form">
					{% csrf_token %}
					<div class="form-group">
						<label for="{{ form.author.id_for_label }}" class="col-sm-2 control-label">{{ form.author.label }}</label>
						{% if request.user.is_authenticated %}
							<span class="js-author" data-user-id="{{ request.user.id }}">{{ request.user.username }}</span>
						{% else %}
							{{ form.author }}
							<span class="js-form-author-error" data-post-id="{{ post.id }}"></span>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">{{ form.email.label }}</label>
						{{ form.email }}
						<span class="js-form-email-error" data-post-id="{{ post.id }}"></span>
					</div>
					<div class="form-group">
						<label for="{{ form.text.id_for_label }}" class="col-sm-2 control-label">{{ form.text.label }}</label>
						{{ form.text }}
						<span class="js-form-text-error" data-post-id="{{ post.id }}"></span>
					</div>
					<div>
						<span class="col-sm-2"></span>
						<button type="submit" class="js-report-mistake" data-post-id="{{ post.id }}">Zgłoś błąd</button>
						<button class="js-cancel" data-post-id="{{ post.id }}">Anuluj</button>
					</div>
				</form>
				<span class="js-note" data-post-id="{{ post.id }}"></span>
			</div>
		{% endfor %}
		<div>
		{% if is_paginated %}
			<hr>
			<div class="pagination">
				<span class="page-links">
					{% if page_obj.has_previous %}
						<a href="{{ path }}?page={{ page_obj.previous_page_number }}">&lsaquo;&lsaquo;</a>
					{% endif %}
					<span class="page-current">
						Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
					</span>
					{% if page_obj.has_next %}
						<a href="{{ path }}?page={{ page_obj.next_page_number }}">&rsaquo;&rsaquo;</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
		</div>
	{% endif %}
	{% compress js %}
		<script type="text/coffeescript" src="{{ STATIC_URL }}js/report_mistake_to_post.coffee"></script>
	{% endcompress %}
{% endblock %}
