{% extends "base.html" %}
{% block content %}
	<form method="post" class="form-register container" >
		{% csrf_token %}
		<div class="form-group col-md-4">
			<div class="fieldWrapper">
				{{ form.login.errors }}
				<label for="{{ form.login.id_for_label }}">{{ form.login.label }}</label>
				{{ form.login }}
			</div>
			<div class="fieldWrapper">
				{{ form.password.errors }}
				<label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
				{{ form.password }}
			</div>
			<div class="fieldWrapper">
				{{ form.password2.errors }}
				<label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
				{{ form.password2 }}
			</div>
			<div class="fieldWrapper">
				{{ form.email.errors }}
				<label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
				{{ form.email }}
			</div>
		</div>
		<div>
			<input type="submit" value="Zarejestruj" />
		</div>
	</form>
{% endblock %}
