{% extends "base.html" %}
{% block content %}
	<form method="post" class="form-horizontal" role="form">
		{% csrf_token %}
		<div class="form-group">
			<label for="{{ form.word.id_for_label }}" class="col-sm-3 control-label">{{ form.word.label }}</label>
			{{ form.word }}
			{% if form.word.errors %}
				{% for error in form.word.errors %}
					<span class="text-error">{{ error }}</span>
				{% endfor %}
			{% endif %}
		</div>
		<div class="form-group">
			<div>
				<span class="col-sm-3"></span>
				<button type="submit" class="btn btn-default">Szukaj</button>
			</div>
		</div>
	</form>
	{% if posts %}
		{% for post in posts %}
			<hr>
			<h4>{{post.posted_date|date:"d.m.Y"}} {{post.author}}: {{post.title}}</h4>
			<p>{{post.text|linebreaks}}</p>
		{% endfor %}
	{% else %}
		{% if word %}
			<p>Brak postów zawierajacych słowo "{{ word }}"</p>
		{% endif %}
	{% endif %}
{% endblock %}
