body {
    background: #FFFFE0;
}
a {
    text-decoration: none;
    color: darkgreen;
    font-family: Tahoma, Geneva, sans-serif;
}
.menu {
    /*width: 100%;*/
    /*height: 35px;*/
    /*font: bold 16px Tahoma, Sans-Serif;*/
    text-align: center;
    /*background-color: darkgreen;*/
    /*border-radius: 20px;*/
    /*color: white;*/
    /*box-shadow: 0 0 7px black;*/
}
/*#menu ul {*/
    /*height: auto;*/
    /*padding: 8px 0px;*/
    /*margin: 0px;*/
/*}*/
/*#menu li {*/
    /*display: inline;*/
    /*padding: 20px;*/
/*}*/
/*#menu a {*/
    /*color: white;*/
/*}*/

.ui-tooltip {
    padding: 10px 20px;
    background: darkgreen;
    color: white;
    border-radius: 20px;
    font: bold 14px Tahoma, Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}

.dropdown-menu {
    color: black;
}
