body {
    background: #FFFFE0;
}
a {
    text-decoration: none;
    color: darkgreen;
    font-family: Tahoma, Geneva, sans-serif;
}

.wrapper {
    max-width: 900px;
    margin : 0 auto;
    display : block;
}

.baner img {
    max-width: 900px;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 0 7px black;
    margin-top : 10px;
    margin-bottom : 10px;
}

.menu {
    width: 900px;
    height: 70px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 0 7px black;
    display: block;
    margin: 0 auto;
}

.dropdown-menu {
    color: black;
}

.menu-item {
    width: 120px;
    border-radius: 20px;
    margin: 20px 0px;
}

.menu-item-link {
    width: 50px;
    border-radius: 10px;
    margin: 20px 0px;
}

.menu-item-button {
    width: 20px;
    border-radius: 10px;
    margin: 20px 0px;
}

.content {
    margin-top : 10px;
    margin-bottom : 10px;
}

.footer {
    position:relative;
    bottom:0;
}

.btn-success {
    background: darkgreen;
}

.js-load-picture {
    display: inline-block;
}

.post-picture {
    width: auto;
    height: 300px;
}

.waiting-room .waiting-room-picture {
    text-align: center;
}

.waiting-room img {
    width: auto;
    height: 200px;
}

h4 {
     color: darkgreen;
}

.outer-link {
     color: darkgreen;
}
