body {
    background: #FFFFE0;
}
a {
    text-decoration: none;
    color: darkgreen;
    font-family: Tahoma, Geneva, sans-serif;
}
.menu {
    width: 900px;
    height: 70px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 0 7px black;
    display: block;
    margin: 0 auto;
}

.dropdown-menu {
    color: black;
}

.menu-item {
    width: 120px;
    border-radius: 20px;
    margin: 20px 0px;
}

.menu-item-link {
    width: 50px;
    border-radius: 10px;
    margin: 20px 0px;
}

.menu-item-button {
    width: 20px;
    border-radius: 10px;
    margin: 20px 0px;
}

.btn-success {
    background: darkgreen;
}

.content {
    max-width: 900px;
    margin : 0 auto;
    display : block;
}
